@tailwind base;
@tailwind components;
@tailwind utilities;

.removescrollbar::-webkit-scrollbar {
  display: none;
}

body {
background-color:rgba(2, 13, 14, 0.895);
color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}
